body{
  margin: 4rem;
  color: black;
}


.buttons{
  display: flex;
  align-items: center;
  gap: 2rem;
}


button{
  width: auto;
  height: 3rem;
  padding: 0 2rem 0 2rem;
  background-color: gainsboro;
  border-style: none;
  border-radius: 5%;
}


button:active{
  background-color: gray;
}


.setup{
  min-height: 2rem;
  max-height: 4rem;
  height: auto;
  padding: 4rem 0 0 0;
  font-size: 1.5rem;
}
